<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 page not found</title>
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">page not found!</h1>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</body>

</html>